.user{    
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.user h1{
    color:rgba(255, 0, 0, 0.644)
}
.user ul{
    list-style-type: none;
   
}

.user button{
    margin-bottom: 10px;
    border-style: none;
    border-radius: 8px ;
}
