.card{
    background-color: lightslategray;
    /* width: 400px;
    border-radius: 15px;
    border-color: 3px solid gold; */
}

.card img{
    border-radius: 10px;
    height: 300px;
    /* width: 400px; */
  
}
